{
  "presets": [["@babel/preset-env", {
      "modules": false,
      "targets": [
        "Chrome >= 52",
        "FireFox >= 44",
        "Safari >= 7",
        "Explorer 11",
        "last 4 Edge versions"
      ]
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@": "./src/",
        "@test": "./test"
      }
    }]
  ],
  "sourceMaps": false,
  "retainLines": false
}